albumentations>=0.4.3
black>=19.10b0
fire>=0.2.1
flake8 >= 3.8.3
kaggle>=1.5.6
matplotlib>=3.1.2
mypy >= 0.782
neptune-client>=0.4.114
numpy>=1.14.5
opencv-python>=3.4.2.17
pandas>=0.25.3
pretrainedmodels==0.7.4
psutil>=5.7.0
pylint >= 2.5.3
pytest>=5.3.2
pytorch_toolbelt==0.3.0
tifffile==2020.2.16
scikit-image>=0.16.2
scikit-learn>=0.19.2
scipy>=1.1.0
segmentation-models-pytorch==0.1.0
shapely>=1.7.0
tensorflow >= 1.15.2
timm>=0.3.0
torch>=1.4.0
torchvision>=0.3.0
tqdm>=4.25.0 